* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 0.1rem solid black;
}

.step-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.count-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  height: 22px;
}
